@charset "UTF-8";
.header{
    background-color:#91a09b; 
    height: 90px;
}
.header-logo{
    font-size: 40px;
    float:left;
    padding:20px 40px;
}
.main{
    text-align: center;
}
.copy-container h1{
    font-size: 100px;
}
img{
    width: 400px;
    height: auto;
}
table{
    margin-left: auto;margin-right: auto;
}
input{
    padding:20px;
    margin-top:10px;
    margin-bottom:30px;
    width:400px;
    border:1px solid #446a7e;
    font-size:18px;
}
.contents{
    border: 2px solid;
    border-color: #031de2;
}