@charset "UTF-8";
.header
{
  background-color:#09b944; 
  height: 70px;
}
.header-logo
{
  font-size: 35px;
  float:left;
  padding:5px 30px;
  color:#000000;
}
.container p
{
  font-size: 15px;
  text-align: center;
} 

button
{
/* padding:20px; */
  margin-top:5px;
  /* margin-bottom:30px; */
  /* width:400px; */
  border:1px solid #555a5e;
  font-size:15px;
}
input
{
border:1px solid #555a5e;
font-size:15px;
margin-top: 5px;
} 
.main
{
  text-align: center;
  font-size: 15px;
}
.main p
{
  font-size: 15px;
  text-align: center;
}
.body
{
  overflow-x: hidden;
}

.html
{
    overflow-x: hidden;
}
.ErrorMessage
{
  font-size: 15px;
  color: crimson;
}

 









