@charset "UTF-8";
.header{
    background-color:#91a09b; 
    height: 90px;
}
.main{
    text-align: center;
}


.contents{
    border: 2px solid;
    border-color: #031de2;
}
.contents p{
    font-size: 25px;
}
input{
    padding: 20px;
    border:1px solid #555a5e;
    font: size 25px;
}
.contentsmain h1 {
    font-size: 25px;
    color: white;
}
img{
    width: 400px;
    height: auto;
}
table{
    margin-left: auto;margin-right: auto;
}
.contentsunder{
    text-align: center;
}
button{
    padding: 20px;
    border:1px solid #555a5e;
    font: size 25px;
}
.form-item {
    padding: 20px 0 10px 0;
    font-weight: bold;
  }