@charset "UTF-8";
.header{
    background-color:#91a09b; 
    height: 90px;
}
.header-logo{
    font-size: 40px;
    float:left;
    padding:20px 40px;
}
.main{
    text-align: center;
}
.copy-container h1{
    font-size: 100px;   
}
button{
    padding: 20px;
    border:1px solid #555a5e;
    font-size:25px;
}
input{
    padding: 20px;
    widows: 100%;
    border:1px solid #555a5e;
    font-size:25px;
}
.contents{
    border: 2px solid;
    border-color: #031de2;
}
.contents h1{
    font-size: 25px;
    color: white;
}
.contents p{
    font-size: 25px;
}

